*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:proxima-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
    width: 100vw;
    height: 100vh;
    color:black;
    margin: 0;
}

/* header */

h1, h2{
    font-family: proxima-nova, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}
#logo{
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigation links */


#menu{
    font-size: 100%;
    letter-spacing: 3px;
}
#menu, #logo{
    line-height: 75px;
}
#menu li{
    float: right;
    list-style-type:none;
    margin-right: 30px;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid black;
}
.active{
    border-bottom: 1px solid black;
}
/* hero image */

#hero-image{
    height: 800px;
    width: 100%;
    background: url(/images/hero-image.png) no-repeat center center;
}

/* introduction section */

#introduction{

}

#intro{
    text-align: center;
    margin: 50px 0;
    font-size: 250%;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    background-color: #DBFEFE;
    text-align: center;
}

.item{
    width: 100vw;
    background-color:white;
    margin: 20px 20px;
    padding: 15px 20px;
}

.item:nth-of-type(1){
    box-shadow: 3px 4px 0 red;
}

.item:nth-of-type(2){
    box-shadow: 3px 4px 0 blue;
}

.item:nth-of-type(3){
    box-shadow: 3px 4px 0 yellow;
}

.item .flex-container{
    display: flex;
    justify-content: space-between;
}

.walter{
    height: 15rem;
    width: auto;
}

/*footer section*/

footer{
    height: 150px;
}

#social-networks{
    text-align: center;
}

#social-networks > li{
    display: inline;
}

#social-networks i{
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: black;
}

/* media queries */


@media screen and (max-width: 768px){
    #menu{
        clear: left;
        float: left;
        margin: 0px 0px 30px 20px;
        line-height: 25px;
    }

    .flex-container .item{
        display: block;
    }
}

