*{
    margin: 0;
    padding: 0;
    border: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:proxima-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
    max-width: 100%;
    max-height: 100%;
    color:black;
}

/* header */

h1, h2{
    font-family: proxima-nova, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}
#logo{
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigation links */


#menu{
    font-size: 100%;
    letter-spacing: 3px;
}
#menu, #logo{
    line-height: 75px;
}
#menu li{
    float: right;
    list-style-type:none;
    margin-right: 30px;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid black;
}
.active{
    border-bottom: 1px solid black;
}
/* hero image */

#hero-image{
    height: 800px;
    width: 100%;
    background: url(/images/hero-image.png) no-repeat center center;
}

/* introduction section */

#introduction{
    height: 800px;
}

#intro{
    text-align: center;
    margin: 50px 0;
    font-size: 250%;
}

#left-about{
    padding: 30px;
    width: 33%;
    float: left;
}
#right-about{
    padding: 30px;
    width: 33%;
    float: right;
}
#center-about{
    padding: 30px;
    width: 33%;
    margin:0 auto;
}

.left-about-para{
    width: 60%;
    float: right;
    clear: both;
    padding: 0 0 50px 0;
}
.right-about-para{
    width: 60%;
    float: left;
    clear: both;
    padding: 0 0 50px 0;
}

#container{
    width: 350px;
    height: 350px;
    padding: 30px;
    margin: 0 auto;
}

#walter-bg{
    background: url(./images/gropius.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
/*footer section*/

footer{
    height: 150px;
}

#social-networks{
    text-align: center;
}

#social-networks > li{
    display: inline;
}

#social-networks i{
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: black;
}

/* media queries */


@media screen and (max-width: 600px){
    #menu{
        clear: left;
        float: left;
        margin: 0px 0px 30px 20px;
        line-height: 25px;
    }
}