*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:proxima-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
    width: 100%;
    height: 100vh;
    color:black;
    margin: 0;
    background-color: #DBFEFE;
}

/* header */

h1, h2{
    font-family: proxima-nova, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

#logo{
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* navigation links */


#menu{
    font-size: 100%;
    letter-spacing: 3px;
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    float: right;
    list-style-type:none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid black;
}

.active{
    border-bottom: 1px solid black;
}

/* hero image */

#hero-image{
    height: 800px;
    width: 100%;
    background: url(./images/hero-image.webp) no-repeat center center;
}

/* introduction section */

#intro{
    text-align: center;
    margin: 50px 0;
    font-size: 250%;
}

.container{
    display: flex;
    justify-content: center;
    background-color: #DBFEFE;
    text-align: center;
    margin: 50px;
}

.item{
    background-color:white;
    margin: 20px 20px;
    padding: 15px 20px;
}

.item:nth-of-type(1){
    box-shadow: 3px 4px 0 red;
}

.item:nth-of-type(2){
    box-shadow: 3px 4px 0 blue;
}

.item:nth-of-type(3){
    box-shadow: 3px 4px 0 yellow;
}

.item .flex-container{
    display: flex;
    justify-content: space-between;
}

.walter{
    height: 15rem;
    width: auto;
}

#designs{
    height: 800px;
    width: 100%;
    background: url(./images/bauhaus-designs1.webp) no-repeat center center;
    margin-bottom: 50px;
    padding-top: 100px;
}

#bauhaus-movement{
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
#bauhaus-movement p{
    padding: 8px;
}

#group-image{
    height: 800px;
    width: auto;
    background: url(./images/group.webp) no-repeat center center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#outro{
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

#outro p{
    padding: 8px;
}

.shapes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 50px;

}

/*gallery section*/

#galleria{
    text-align: center;
    margin: 50px 0;
    font-size: 250%;
}

#gallery-images{
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    margin-bottom: 150px;
}

#gallery-images > img{
    width: 100%;
}

/*sign up/newsletter section*/

#signup{
    margin: 0 auto;
    text-align: center;
    max-width: 330px;
    padding: 50px 30px;
    background-color: white;
    box-shadow: 3px 4px 0 #8ABBC0;
    margin-bottom: 100px;
}

.newsletter{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 250%;
}

#signup hr{
    width: 70px;
    height: 3px;
    margin: 30px auto;
    border: 0;
    background-color: black;
}

#signup p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
}

#signup input{
    border-radius: 3px;
    width: 100%;
    height: 50px;
    border: 0;
    padding: 0 20px;
    margin-bottom: 36px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #DBFEFE;
    transition: 0.5s;
    font-size: 18px;
}

#signup button{
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
}

#signup button:hover{
    background-color: #8ABBC0;
}

/*footer section*/

footer{
    height: 150px;
}

#social-networks{
    text-align: center;
}

#social-networks > li{
    display: inline;
}

#social-networks i{
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: black;
}

/* media queries */

/*for ipad screens or smaller*/

@media screen and (max-width: 1200px){
    .container{
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 980px){
    #menu{
        clear: left;
        float: left;
        margin: 0px 0px 30px 20px;
        line-height: 25px;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    #gallery-images{
        column-count: 3;
    }
}

/*for screens smaller than 800px*/

    @media screen and (max-width: 786px){
    #gallery-images{
        column-count: 2;
    }
}

@media screen and (min-aspect-ratio:16/9){
    .shape-video{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-aspect-ratio:16/9){
    .shape-video{
        width: auto;
        height: 100%;
    }
}
